/* GENERAL */

body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f4f6f9;
}

/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:maroon;
    color:white;
}

.logo-container{
    display:flex;
    align-items:center;
}

.profile-pic{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:10px;
}

.logo{
    font-size:20px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:20px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

.nav-links a:hover{
    color:#00c3ff;
}

/* CONTACT SECTION */

.contact-container{
    max-width:700px;
    margin:80px auto;
    text-align:center;
    background:maroon;
    color: white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.contact-box{
    font-size:18px;
    line-height:2;
    margin-top:20px;
}


.home-btn:hover{
    background:#0099cc;
}

/*PHONE*/
header {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.589); 
    }
    .logo{
    color: white;
    }

    .nav-links a{
    color: white;
    }

    body {
        background-color: white; 
    }

    .contact-container {
    background-color: rgba(0, 0, 0, 0.589);
     color: white;
    }

    footer {
    background-color:  rgba(0, 0, 0, 0.589);
    color: white;
    }

/*TABLET*/
@media (min-width: 768px) and (max-width: 1023px) {
    header {
        flex-direction: column;
        background-color: rgb(65, 65, 255); 
    }
    .logo{
    color: white;
    }

    .nav-links a{
    color: white;
    }

    body {
        background-color: rgb(173, 173, 250); 
    }
    .contact-container{
    background-color: rgb(65, 65, 255);
    }

    footer {
        background-color: rgb(65, 65, 255); 
    }
}
/*DESKTOP*/
@media (min-width: 1024px) {
    header {
        flex-direction: column;
        background-color: maroon; 
    }
    .logo{
    color: white;
    }

    .nav-links a{
    color: white;
    }

    body {
        background-color: rgb(252, 250, 250); 
    }
    .contact-container{
    background-color:maroon;
    }

    footer {
        background-color: maroon; 
    }
}